.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  padding: 16px;
}
.item {
  display: flex;
  flex-direction: column;

  overflow: hidden;
}
.title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  padding: 12px 0 5px;
}
.description {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--text-orange);
}
