.footer {
  display: flex;
  justify-content: center;
  color: var(--text-orange);
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 960px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-inline: 20px;
  padding-block: 40px;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  /* flex-direction: row;
  justify-content: space-around; */
}
.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
